misc/local-adm.txt
misc/test_local-adm.txt
misc/local-adm-clean.txt
misc/local-adm-checkpoint.txt
hotkeys/laps/.env
/scripts/node_modules
scripts/package-lock.json
scripts/.env
/scripts/serv/node_modules
scripts/serv/.env
scripts/serv/package-lock.json
scripts/auto-swc/.env
scripts/auto-swc/package-lock.json
scripts/nh-email/new_hires.csv
